table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 2%;
    margin-left: 15%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  p{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

  button{
    margin-top: 1%;
    margin-left: 81%;
  }