<!-- back button -->
<button type="button" routerLink="/" class="back btn btn-success">Back</button><br><br>
<!-- display user detail -->
<div class="center">
    <div class="side">
        <label><strong>User Name :</strong></label>
        <p>{{detailarr.name}}</p><br>
    </div>
    <div class="side">
        <label><strong>Email :</strong></label>
        <p>{{detailarr.email}}</p><br>
    </div>
    <div class="side">
        <label><strong>Role :</strong></label>
        <p>{{detailarr.role}}</p>
    </div>
</div>