span{
    font-size: x-large;
    font-weight:bold ;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

label{
    width: 7%;
    text-align: start;
}

input,select{
    width: 10%;
    height: 1%;
}

form{
    text-align: center;
}

.back{
    margin-top: 1%;
    margin-left: 81%;
}

.errname{
margin-left: 3%;
}

.errpsw{
    margin-left: 2.7%;
}

.validpsw{
    margin-left: 2.6%;
}

.erremail{
    margin-left: 1.9%;
}

.errrole{
    margin-left: 1.7%;
}

.errminname{
    margin-left: 3.5%;
}
